Capstone.pdf
__pycache__/
.vscode/
audio_segments/
results/
xtts_fine_tune/old_man_segments/
thesis2.drawio.png
metrics/originals_en/
metrics/originals_es/
here.wav
main_legacy.ipynb
xtts_streaming.wav
streamxttsv2.py
pg.ipynb
output.wav
resampled_audio.wav
