__pycache__/
.vscode/
xtts_fine_tune/old_man_segments/
audio_segments/*
!audio_segments/.gitignore
results/*
!results/.gitignore
test/*
!test/.gitignore

thesis2.drawio.png
metrics/originals_en/
metrics/originals_es/
main_legacy.ipynb
streamxttsv2.py
pg.ipynb
test_speakers
pg2.ipynb
metric_embeddings.ipynb
metrics/
metrics.ipynb
not_used_models/
cluster_model_training.ipynb
demo/
test/
main.ipynb
main_stream.ipynb
